{{>head}}
<body>
    {{>nav}}
    {{{body}}} 

    <script src="/js/common/createElement.js" type="module"></script>
    <script src="/js/service/api.service.js" type="module"></script>
    <script src="{{script}}" type="module"></script>
</body>
</html>