<div class="wrapper__signin-form">
    <form id="editUserForm">
        <input type="text" placeholder="New username:" name="username">
        <input type="password" placeholder="New password:" name="password">
        <button>Edit params</button>
    </form>

    <div class="wrapper__exception">
        
    </div>
</div>
