<div class="wrapper__signin-form">
    <form id="signUpForm">
        <input type="text" placeholder="Username:">
        <input type="password" placeholder="Password:">
        <button>Create account</button>
    </form>

    <div class="wrapper__exception">
        
    </div>
</div>
