<div class="wrapper__signin-form">
    <form id="signInForm">
        <input type="text" placeholder="Username:" name="username">
        <input type="password" placeholder="Password:" name="password">
        <button>Sign in</button>
    </form>

    <div class="wrapper__exception">
        
    </div>
</div>